<ion-view cache-view="false" title="咨询记录" >

<ion-nav-bar class="bar-dark nav-title-slide-ios7 green-bg" style="" >
      <ion-nav-buttons class="bar-dark nav-title-slide-ios7" side="left" >
         <button class="button button-clear"  ng-click="Goback()"><i class="icon ion-chevron-left"></i>返回</button>
      </ion-nav-buttons>
    </ion-nav-bar>


  <!-- <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div> -->
  <ion-content class="padding">

    <div>
        <a  class="item item-avatar context-pading m-b5 br-none fc-4c" ng-repeat="item in items |orderBy:['readOrNot','-lastMsgDate']" class="item item-avatar" ng-click="getConsultRecordDetail($event,item.userId)">
            <img  ng-src="{{(item.photoUrl|changeimgip) || 'img/DefaultAvatar.jpg'}} " image-red-point="!item.readOrNot">
            <div class="row">
                <h2 class="col">{{item.name}}</h2>
                <span class="col">{{item.lastMsgDate|dateFormat:"YYYY-MM-DD h:m"}}</span>
            </div>
           
            <span class="row" style="margin-left:5px;">{{item.latestMsg}}</span>
        </a>


    </div>
    <div class="card" ng-if="noConsult">
        <div class="item item-text-wrap">
            暂时没有咨询记录
        </div>
    </div>
    <ion-refresher pulling-text="下拉刷新..." on-refresh="do_refresher()"></ion-refresher>
           
  </ion-content>
          
</ion-view>