<ion-view cache-view="false" title="健康信息" >

  <ion-nav-bar class="bar-positive green-bg" style="" >
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-back font-white" ng-click="Goback()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons  side="right">
            <button class="button button-clear"  ng-if="!canEdit"  ng-click="edit() "><i class="icon ion-edit"></i></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" ng-style="healthDetailStyle">
    

  <form name="HealthForm" nonvalidate>
    <label  class="item item-input item-select-custom blue-round-input">
        <span class="input-label"><i class="icon ion-asterisk c-red" ></i>类别</span>
        <select ng-disabled="!canEdit || labTest" ng-model="health.label" name="healthLabel" required ng-options="label.name for label in labels track by label.code">
        </select>
        <span class="tick" ng-if="canEdit">
              <i style="color:#6ac4f8;" ng-if="HealthForm.healthLabel.$valid" class="icon ion-checkmark-circled placeholder-icon"></i>
               <i style="color:#FB6753;" ng-if="HealthForm.healthLabel.$invalid" class="icon ion-alert-circled placeholder-icon"></i>
        </span>
    </label>

    <label ng-if="!canEdit" class="item item-input blue-round-input">
        <span class="input-label"><i class="icon ion-asterisk c-red" ></i>时间日期</span>
        <input  style="text-align: right;" class="hasTick" ng-disabled="!canEdit" ng-model="health.date" dateformat type="text" readonly="readonly">
    </label>

    <ionic-datepicker ng-if="canEdit" input-obj="datepickerObject4" class="item item-input blue-round-input">
        <span class="input-label"><i class="icon ion-asterisk c-red" ></i>时间日期</span>
        <input  style="text-align: right;" ng-model="health.date" class="hasTick" name="healthDate" required dateformat type="text" readonly="readonly">
        <span class="tick">
              <i style="color:#6ac4f8;" ng-if="HealthForm.healthDate.$valid" class="icon ion-checkmark-circled placeholder-icon"></i>
               <i style="color:#FB6753;" ng-if="HealthForm.healthDate.$invalid" class="icon ion-alert-circled placeholder-icon"></i>
          </span>
    </ionic-datepicker>

    <label class="item item-input blue-round-input">
          <textarea ng-disabled="!canEdit" class="no-line" placeholder="请您详细描述自己的健康信息" rows="4" style="line-height: 25px"  name="healthText" ng-model="health.text"></textarea>
    </label>

      

    <ion-item class="row row-wrap" style="border:none; text-align:center; height:100%;margin-top:10px" >
        <div  class="col col-33" ng-repeat="filepath in health.imgurl track by $index">
          <img ng-src="{{filepath}}"  name="Photo" ng-click="showoriginal(filepath)"  style="height:90%; width:90%"  /><i ng-if="canEdit" class="icon ion-close-circled" style="width: 5%;float: right;" ng-click="deleteimg($index)"></i>
        </div>
    </ion-item>
    <div style="text-align: center;" ng-if="canEdit">
           <button class="button button-clear" style="color:#666" ng-click="onClickCamera($event)" ><i class="icon ion-camera"></i>上传图片</button>
    </div>
  </form>

    <button ng-if="canEdit" ng-disabled="!HealthForm.$valid" style="margin-top:10px" class="button button-block green-bg font-white" ng-click ="HealthInfoSetup()">
            保存
      </button>
  </ion-content>

      <!-- 上传照片的弹出框 -->

          

     <!--  <script id="my-popover1.html" type="text/ng-template">
        <ion-popover-view>
          <ion-header-bar class="bar-calm">
              <h1 class="title">上传图片</h1>
          </ion-header-bar>
        <ion-content>
          <ion-list> 
            <div class = "padding">
              <button class="button button-block button-primary " ng-click="getPhoto()"><i class="icon ion-camera"></i>
                  拍照
              </button>
            
              <button class="button button-block button-primary " ng-click="onClickCameraPhotos()"><i class="icon ion-image"></i>
                  相册
              </button>
             
            </div>
          </ion-list>
        </ion-content>
      </ion-popover-view>
    </script> -->
    <!-- 上传照片的弹出框 -->
</ion-view>