<ion-view cache-view="false" title="健康信息" >

  <ion-nav-bar class="bar-positive green-bg" style="" >
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-back font-white" ng-click="Goback()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons  side="right">
            <button class="button button-clear"  ng-if="!canEdit"  ng-click="edit() "><i class="icon ion-edit"></i></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" style="top: 43px">
    

  <ion-list>
    <label  class="item item-input item-select">
        <span class="input-label"><i class="icon ion-asterisk c-red" ></i>类别</span>
        <select ng-disabled="!canEdit" ng-model="health.label" ng-options="label.name for label in labels track by label.code" style="width:100%">
        </select>
    </label>

    <label ng-if="!canEdit" class="item item-input">
        <span class="input-label"><i class="icon ion-asterisk c-red" ></i>时间日期</span>
        <input  style="text-align: right;" ng-disabled="!canEdit" ng-model="health.date" dateformat type="text">
    </label>

    <ionic-datepicker ng-if="canEdit" input-obj="datepickerObject4" class="item item-input">
        <span class="input-label"><i class="icon ion-asterisk c-red" ></i>时间日期</span>
        <input  style="text-align: right;" ng-model="health.date" dateformat type="text">
    </ionic-datepicker>

    <label class="item item-input">
          <span class="input-label" ><i class="icon ion-asterisk c-red"></i>文字描述</span>
          <input  style="text-align: right;" ng-disabled="!canEdit" ng-model="health.text"  type="text">
    </label>

      

    <ion-item class="row row-wrap" style="border:none; text-align:center; height:100%;margin-top:30px" >
        <div  class="col col-33" ng-repeat="filepath in health.imgurl track by $index">
          <img ng-src="{{filepath}}"  name="Photo" ng-click="showoriginal(filepath)"  style="height:90%; width:90%"  /><i ng-if="canEdit" class="icon ion-close-circled" style="width: 5%;float: right;" ng-click="deleteimg($index)"></i>
        </div>
             
    </ion-item>
    <div style="text-align: center;" ng-if="canEdit">
           <button class="button button-clear" style="color:#666" ng-click="onClickCamera($event)" ><i class="icon ion-camera"></i>上传图片</button>
    </div>
  </ion-list>
    <button ng-if="canEdit" style="margin-top:10px" class="button button-block green-bg font-white" ng-click ="HealthInfoSetup()">
            保存
      </button>
  </ion-content>

      <!-- 上传照片的弹出框 -->

          

      <script id="my-popover1.html" type="text/ng-template">
        <ion-popover-view>
          <ion-header-bar class="bar-calm">
              <h1 class="title">上传图片</h1>
          </ion-header-bar>
        <ion-content>
          <ion-list> 
            <div class = "padding">
              <button class="button button-block button-primary " ng-click="getPhoto()"><i class="icon ion-camera"></i>
                  拍照
              </button>
            
              <button class="button button-block button-primary " ng-click="onClickCameraPhotos()"><i class="icon ion-image"></i>
                  相册
              </button>
             
            </div>
          </ion-list>
        </ion-content>
      </ion-popover-view>
    </script>
    <!-- 上传照片的弹出框 -->
</ion-view>