<ion-view title="肾事管家用户协议" >
  <ion-nav-bar class="bar-positive green-bg" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-back font-white" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" style="bottom:60px;border: 1px solid #ddd;margin: 8px;" overflow-scroll="true" scroll="true">
    <div  id="agreement" class="text-wrap" style="text-indent:2em;">
    	<p>欢迎您与“肾事管家”经营者（杭州海泓医院管理有限公司）共同签署《肾事管家用户协议》（以下简称本协议），并使用“肾事管家”平台提供的各项服务！ “用户”是指使用“肾事管家”客户端各项服务的使用人，在本协议中更多地称为“您”。“肾事管家”为杭州海泓医院管理有限公司旗下品牌，包括但不限于手机应用、网站、产品、微博微信官网账号、服务等。</p>
    	<p>“肾事管家”经营者：指杭州海泓医院管理有限公司及其各关联公司。</p>
    	<p>“肾事管家”管理规定：指包括本协议在内的，由用户签署，或由“肾事管家”在明显位置展示的，具有规范用户行为作用的各类规定、提示、声明文件。</p>
    	<p>您在申请注册流程中点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。您点击“注册”按钮后，本协议即构成双方有约束力的法律文件。</p>

    	<h4>一、服务内容</h4>
    	<p>1.1 “肾事管家”服务的具体内容由“肾事管家”经营者提供，“肾事管家”经营者保留随时变更、中断或终止部分或全部网络服务的权利。</p>
    	<p>1.2 “肾事管家”作为医生、患者间的交流互通平台，用户通过“肾事管家”发表的各种言论（包括但不仅限于医学文献、诊疗建议、患者评价等），并不代表“肾事管家”赞同其观点或证实其内容的真实性，也不能作为临床诊断及医疗的依据，不能替代医生与病人面对面的诊断和治疗。</p>
    	<p>1.3 “肾事管家”在提供网络服务时，可能会对部分网络服务收取一定费用，“肾事管家”将会对收费服务给予明确的提示，如用户拒绝支付此类费用，“肾事管家”有权拒绝提供相应的网络服务。</p>
    	<p>1.4 “肾事管家”仅提供相关的网络服务，除此之外与相关网络服务有关的设备（如电脑、调制解调器及其他与接入互联网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费）均由用户自行承担。</p>
    	<p>1.5 “肾事管家”不承担用户因不可抗力、自身过错、网络状况、通讯线路等原因或其他不可控原因导致不能正常使用“肾事管家”所产生的任何直接或间接损失，亦不对此承担任何法律责任。</p>

      <h4>二、用户及注册</h4>
      <p>2.1 “肾事管家”提供用户注册服务，用户帐号和密码由用户自行保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。</p>
      <p>2.2 用户在注册时，其用于注册的账号名称、昵称、头像和简介等注册信息中均不得出现任何违法和不良信息，否则“肾事管家”有权拒绝提供服务，并暂停或注销该账号。</p>


      <h4>三、用户的权利和义务</h4>
			<p>3.1 用户有权利拥有自己在“肾事管家”的用户名及密码，并有权利使用自己的用户名及密码随时登陆“肾事管家”服务。</p>
			<p>3.2用户不得以任何形式转让或授权他人使用自己的“肾事管家”用户名，亦不得盗用他人帐号，由以上行为造成的后果由用户自行承担。</p>
			<p>3.3 用户有权根据“肾事管家”的管理规定发布、获取信息，进行医患互通交流等。</p>
			<p>3.4用户有义务确保通过“肾事管家”提供给咨询医生的患者信息，包括且不限于基本信息、症状描述、病史信息、就医用药信息、图片语音信息等均真实、全面、准确且为患者本人情况，否则，因此导致咨询医生通过“肾事管家”提供的服务信息不准确或因此对用户（患者）造成的任何损失，均由用户自行承担，“肾事管家”不负有任何责任。 请用户特别注意，“肾事管家”不会对患者提供的信息进行医学分析以发现其中的矛盾、错误或重大风险，且“肾事管家”也不因其提供咨询平台服务而负有发现此类矛盾、错误或重大风险的义务，“肾事管家”也不因此负有对用户不时进行提醒的义务 。</p>
			<p>3.5用户有义务确保注册手机号码的真实性，因用户未及时接听“肾事管家”官方客服或咨询医生的来电而导致的任何后果，均由用户自行承担，“肾事管家”不负有任何责任。</p>
			<p>3.6用户在使用“预约就诊”服务时，用户须自行至预约就诊点挂号并按时就诊，否则，因此导致的任何后果，均由用户自行承担，“肾事管家”不负有任何责任。</p>
			<p>3.7用户在咨询（包括但不限于电话、网络、面谈等形式）过程中要语言文明，尊重医生，平等交流。如有对医生恶意中伤、出言无状等类似情况出现，医生有权立即中断服务，用户无权要求退款。</p>
			<p>3.8用户在使用收费服务的过程中如遇服务纠纷，可以请求“肾事管家”从中予以协调。用户如发现医生未按服务要求进行咨询服务，可以向“肾事管家”反映并要求处理。如用户因收费服务与其他用户或咨询医生产生诉讼的，用户有权通过司法部门要求“肾事管家”提供相关资料。</p>
			<p>3.9用户对自己在“肾事管家”上发布的信息承担责任，用户不得发布违法信息，不得恶意评价其他用户或咨询医生。用户承诺自己在使用“肾事管家”时实施的所有行为均遵守国家法律、法规和“肾事管家”管理规定以及各种社会公共利益或公共道德。如有违反导致任何法律后果的发生，用户独立承担所有相应的法律责任。</p>
			<p>3.10用户必须遵守卫生部《互联网医疗卫生信息服务管理办法》及国家食品药品监督管理局的有关法规，认证医生只能提供医疗卫生信息建议，不得从事网上诊断和治疗活动，不得进行网上售药，不得进行广告性质宣传活动。“肾事管家”有权删除此类信息。</p>
			<p>3.11“肾事管家”展示的所有医学信息以及认证医生建议，仅供用户参考，不作为诊断和治疗的依据，不能替代医生与病人面对面的诊疗。</p>
			<p>3.12用户不得将涉及医疗纠纷的问题或其它有责任争议的问题在“肾事管家”发布，关于医疗纠纷的问题，用户可另行咨询律师或向相关主管部门寻求帮助，否则，“肾事管家”有权删除此类信息。</p>
			<p>3.13用户如发现其他用户有违法或违反“肾事管家”管理规定的行为，可以向“肾事管家”进行反映要求处理。用户因“肾事管家”发布的内容与其他用户发生纠纷的，用户可以要求“肾事管家”根据法律程序提供该案件所需证据材料。</p>


			<h4>四、“肾事管家”经营者的权利和义务</h4>
			<p>4.1 “肾事管家” 经营者将协助医患之间进行合法、合规的交流。</p>
			<p>4.2 “肾事管家” 经营者有义务在现有技术上维护平台服务的正常进行，并努力提升技术及改进技术，使产品和网站服务更好地进行。</p>
			<p>4.3“肾事管家” 经营者有义务采取适当的措施，以保证提供电话咨询、图文咨询、诊后小结服务的医生是有相关专业资质的医师，并确保是医生本人在提供服务。</p>
			<p>4.4“肾事管家” 经营者不向用户提供挂号服务。预约就诊服务只限于将患者基本信息、就诊时间、用药信息、化验信息等提供给医生，患者需自行挂号。鉴于临床工作的特殊性，您预约的医生如遇到公众卫生事件、紧急抢救、急诊、临时停诊，有可能延后甚至取消门诊，本平台若能获悉，会在第一时间通知用户，但不构成对“肾事管家”的法律约束。鉴于“肾事管家”仅提供预约就诊的服务，用户明确知悉并同意因非“肾事管家”原因导致的门诊延误引起的任何后果（包括但不限于病情延误及交通、餐饮、住宿等费用等）“肾事管家”不承担任何责任。</p>
			<p>4.5“肾事管家”致力于提供快捷的健康咨询服务，但由于医生工作的特殊性，“肾事管家”不保证医生回复的及时性和医生门诊的准确性；医生出诊时间以医院当日公布为准；急性症状或化验结果异常的用户患者应及时就医。因等待医生回复而延误治疗的，由用户自行承担不利后果。</p>
			<p>4.6“肾事管家”有义务向用户说明付费服务的明细、详细信息以及提供合法的付费方式，不能进行强制付费，并且有义务根据用户反馈改进服务。</p>
			<p>4.7“肾事管家”作为医患互通服务的平台，不对用户和认证医生发布信息的来源和正确性负责，不参与医患交流，不对医患交流的结果承担任何责任。</p>
			<p>4.8“肾事管家”有权对用户的注册数据及接受服务的行为进行查阅，发现注册数据或接受服务行为中存在任何问题或质疑，均有权向用户发出询问及要求改正的通知或者直接作出删除等处理。</p>
			<p>4.9用户使用电话咨询、图文咨询、诊后小结服务后，不得以对服务中的内容不满意为由要求退款。用户对电话咨询、图文咨询、诊后小结服务不满意的，可以向“肾事管家”投诉，“肾事管家”应依据具体情况及时协调沟通，维护医患关系，但该调处行为不具有法律效力，调处结果系纠纷双方自愿作出，“肾事管家”仅协助提供信息以便沟通，不对调处结果承担法律责任。</p>
			<p>4.10用户要求结算帐户余额时，“肾事管家”有义务在五个工作日内完成对帐，并转出结算金额。</p>
			<p>4.11对于用户在“肾事管家”上的不当行为或其它任何“肾事管家”认为应当终止服务的情况，“肾事管家”有权随时作出删除相关信息、终止服务提供等处理，而无需征得用户的同意。</p>
			<p>4.12“肾事管家”没有义务对所有用户的注册数据、所有的活动行为以及与之有关的其它事项进行审查，但如存在下列情况，“肾事管家”有权根据不同情况选择保留或删除相关信息或继续、停止对该用户提供服务，并追究相关法律责任：</p>
			<p>1)用户或其它第三方通知“肾事管家”，认为某个具体用户、具体行为或具体事项可能存在重大问题；</p>
			<p>2)用户或其它第三方向“肾事管家”告知网络平台上有违法或不当行为的，“肾事管家”以普通非专业医疗人员的知识水平标准对相关内容进行判别，可以明显认为这些内容或行为具有违法或不当性质的。</p>
			<p>4.13经国家生效法律文书或行政处罚决定确认用户存在违法行为，或者“肾事管家”有足够事实依据可以认定用户存在违法或违反“肾事管家”管理规定的行为的，“肾事管家”有权以合理方式公布用户的违法行为。</p>
			<p>4.14因不可抗力（如火灾、水灾、暴动、骚乱、战争、自然灾害等）导致“肾事管家”的服务中断或者用户数据损坏、丢失等，“肾事管家”不承担任何责任。</p>


			<h4>五、服务变更、中断或终止</h4>
			<p>5.1 如因系统维护或升级的需要而需暂停网络服务，“肾事管家”将尽可能事先进行通告。</p>
			<p>5.2 如发生下列任何一种情形，“肾事管家”有权解除本协议：</p>
			<p>1)用户自愿注销的；</p>
			<p>2)用户违反国家有关法律法规或“肾事管家”管理规定，侵害他人合法权益的；</p>
			<p>3)用户因在“肾事管家”上的不当行为被行政或司法机构处罚或调查；</p>
			<p>4)用户提供的个人资料不真实；</p>
			<p>5)用户盗用他人账户、发布违禁信息、骗取他人财物的；</p>
			<p>6) 用户传播虚假信息，歪曲事实，经查证属实的；</p>
			<p>7)其它“肾事管家”认为需要终止服务的情况。</p>
			<p>除前款所述情形外，“肾事管家”保留在不事先通知用户的情况下随时中断或终止部分或全部网络服务的权利，对于服务的中断或终止而造成用户损失的，“肾事管家”不承担任何责任。</p>
			<p>5.3 用户服务终止后，“肾事管家”仍有以下权利：</p>
			<p>1)用户注销后，“肾事管家”有权保留该用户的注册数据及以前的行为记录；</p>
			<p>2)用户注销后，如用户在注销前在“肾事管家”平台上存在违法行为或违反条款的行为，“肾事管家”仍可行使本服务协议所规定的权利。</p>

			<h4>六、隐私声明</h4>
			<p>6.1 适用范围:</p>
			<p>1)您注册“肾事管家”时，根据网站要求提供个人信息；您点击“注册”按钮后既表明您同意授权“肾事管家”经营者和相关医生查看、编辑您的个人信息；</p>
			<p>2）您使用“肾事管家”服务、参加相关活动、访问网站网页（或移动客户端）时，网站自动接收并记录用户浏览器上的服务器数据，包括但不限于IP地址、网站Cookie中的资料及用户要求取用的网页记录；</p>
			<p>3)“肾事管家”通过合法途径从其他途径取得的您的个人资料。</p>
			<p>6.2 信息保密:</p>
			<p>1)保护用户隐私是“肾事管家”的一项基本宗旨，“肾事管家”保证不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储的非公开内容，但下列情况除外：事先获得用户的明确授权；根据有关的法律法规要求；按照相关政府主管部门的要求；为维护社会公众的利益；为维护“肾事管家”的合法权益。</p>
			<p>2)“肾事管家”可能会与第三方合作向您提供相关的网络服务，在此情况下，如该第三方同意承担与“肾事管家”同等的保护用户隐私的责任，则“肾事管家”有权将您的注册资料等提供给该第三方。</p>
			<p>6.3 信息使用:</p>
			<p>1)在不透露单个用户隐私资料的前提下，“肾事管家”有权对整个用户数据库进行分析并对用户数据库进行商业上的利用；</p>
			<p>2)医患之间的咨询问题内容在隐去用户的姓名、单位、地址等信息后，“肾事管家”有权在未征得用户同意的情况下公开、编辑、出版、发行；</p>
			<p>3)为服务用户的目的，“肾事管家”可能通过使用您的个人信息，向您提供服务，包括但不限于向您发出活动和服务信息等。</p>


			<h4>七、免责声明</h4>
			<p>7.1 用户使用“肾事管家”服务所存在的风险将完全由其自己承担；因其使用“肾事管家”服务而产生的一切后果也由其自己承担，“肾事管家”对用户不承担任何责任。</p>
			<p>7.2 “肾事管家”不担保网络服务一定能满足用户的要求，也不确保网络服务不会中断，不确保网络服务的及时性、安全性、准确性。</p>
			<p>7.3“肾事管家”只负责提供医患交流互通的平台，对医患双方因服务引起的纠纷不承担任何责任。</p>
			<p>7.4 对于因不可抗力或“肾事管家”不能控制的原因造成的网络服务中断或其它缺陷，“肾事管家”不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</p>

			<h4>八、违约赔偿</h4>
			<p>8.1 用户同意保障和维护“肾事管家”及其他用户的利益，如因用户违反有关法律、法规或“肾事管家”管理规定而给“肾事管家”或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。</p>

			<h4>九、服务条款修改</h4>
			<p>9.1 “肾事管家”有权酌情变更、终止“肾事管家”管理规定的各项条款，“肾事管家”将会通过适当方式向您提示修改内容。</p>
			<p>9.2 如果您不同意“肾事管家”管理规定所做的修改，有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受“肾事管家”对服务条款相关条款所做的修改。</p>

			<h4>十、法律管辖</h4>
			<p>10.1 本服务条款的订立、执行和解释及争议的解决均应适用中国法律。</p>
			<p>10.2 如双方就本服务条款内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向“肾事管家”经营者所在地人民法院起诉。</p>

			<h4>十一、通知送达</h4>
			<p>11.1 本协议项下“肾事管家”对于用户所有的通知均可通过网页公告、电子邮件、手机短信或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。</p>
			<p>11.2 您对于“肾事管家”的通知应当通过“肾事管家”对外正式公布的通信地址、传真号码、电子邮件地址等联系信息进行送达。</p>

			<h4>十二、其他规定</h4>
			<p>12.1 本服务条款构成双方对服务条款之约定事项及其他有关事宜的完整协议，除服务条款规定的之外，未赋予服务条款各方其他权利。</p>
			<p>12.2 如本服务条款中的任何条款无论因何种原因完全或部分无效或不具有执行力，本条款的其余条款仍应有效并且有约束力。</p>
			<p>12.3 本服务条款中的标题仅为方便而设，在解释本条款时应被忽略。</p>

  	</div>

  </ion-content>
  	
	<div class="bar bar-footer no-line" style="height: 50px">
     <button style="margin: 0" class="button button-block button-balanced green-bg" ng-click="YesIdo()">同意协议</button>
   </div>
</ion-view>
