<ion-view title="消息中心" >

  <ion-nav-bar class="bar-positive green-bg" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-back font-white" ng-click="Goback()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content  style="" class="all-message-cont">

      <div class="card" ng-if="pay||alert||task||insurance">
      <!-- 支付消息 -->
      <ion-item class="item item-avatar" ng-if="pay" ng-click="getMessageDetail(pay)">
        <img ng-src="img/icon_paymessage.png" image-red-point="!pay.readOrNot">
        <div class="row">
            <h2 class="col">支付消息</h2>
            <span class="col" style="font-size: 12px">{{pay.time|dateFormat:"YYYY-MM-DD h:m"}}</span>
        </div>
        <span class="row" style="margin-left:5px;">{{pay.description}}</span>
      </ion-item>
     
      <!-- 警报消息 -->
      <ion-item class="item item-avatar" ng-if="alert"  ng-click="getMessageDetail(alert)">
        <img ng-src="img/icon_warning.png" image-red-point="!alert.readOrNot">
        <div class="row">
            <h2 class="col">警报消息</h2>
            <span class="col" style="font-size: 12px">{{alert.time|dateFormat:"YYYY-MM-DD h:m"}}</span>
        </div>
        <span class="row" style="margin-left:5px;">{{alert.description}}</span>
      </ion-item>

      
      <!-- 任务消息 -->
      <ion-item class="item item-avatar" ng-if="task" ng-click="getMessageDetail(task)">
        <img ng-src="img/icon_renwu.png" image-red-point="!task.readOrNot">
        <div class="row">
            <h2 class="col">任务消息</h2>
            <span class="col" style="font-size: 12px">{{task.time|dateFormat:"YYYY-MM-DD h:m"}}</span>
        </div>
        <span class="row" style="margin-left:5px;">{{task.description}}</span>
      </ion-item>
     
      <!-- 保险消息 -->
      <ion-item class="item item-avatar" ng-if="insurance" ng-click="getMessageDetail(insurance)">
        <img ng-src="img/security.png" image-red-point="!insurance.readOrNot">
        <div class="row">
            <h2 class="col" >保险消息</h2>
            <span class="col" style="font-size: 12px">{{insurance.time|dateFormat:"YYYY-MM-DD h:m"}}</span>
        </div>
        <span class="row" style="margin-left:5px;">{{insurance.description}}</span>
      </ion-item>



      </div>
      
      <!-- 聊天消息 -->
      <ion-item  ng-repeat="chat in chats"  class="item item-avatar card" ng-click="getConsultRecordDetail(chat)">
        <img ng-src="{{chat.docPhoto}}" image-red-point="!chat.readOrNot">
        <div class="row">
            <h2 class="col">{{chat.docName}}</h2>
            <span class="col" style="font-size: 12px">{{chat.time|dateFormat:"YYYY-MM-DD h:m"}}</span>
        </div>
        <span class="row" style="margin-left:5px;">{{chat.description}}</span>
      </ion-item>

      <div class="card" ng-if="(!pay)&&(!alert)&&(!task)&&(!insurance)&&(chats.length==0)">
        <div class="item item-text-wrap">
            暂时没有消息
        </div>
      </div>
        
    <ion-refresher pulling-text="下拉刷新..." on-refresh="do_refresher()"></ion-refresher>
  </ion-content>

</ion-view>
