<ion-view view-title="{{varyMes.name}}消息">
  <ion-nav-bar class="bar-positive green-bg" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-back font-white" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
    <ion-content class="bg">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="do_refresher()"></ion-refresher>

    <div class="card" ng-show="messages.length==0">
        <div class="item item-text-wrap">
            暂时没有此类消息
        </div>
    </div>
    <div class="list card" ng-repeat="message in messages" ng-click="MoreMessageDetail($event,message.sendBy,message.type)">

        <div class="item item-avatar">
            <img ng-src="img\{{varyMes.avatar}}" ng-if="notInsurance">
            <img ng-src="{{(message.docPhoto|changeimgip) || 'img/DefaultAvatar.jpg'}}" ng-if="!notInsurance">
            <h2 ng-if="notInsurance">{{message.title}}</h2>
            <h2 ng-if="!notInsurance">{{message.docName}}</h2>

            <p>{{message.time|dateFormat:"YYYY-MM-DD h:m"}}</p>
        </div>

        <div class="item item-body item-text-wrap">
            <p style="margin-top:0px">
                {{message.description}}
            </p>
        </div>

    </div>
  </ion-content>
</ion-view>

