<ion-view title="关于" hide-tabs>

    <ion-nav-buttons side="left">
        <my-nav-back-button ng-click="Goback()"></my-nav-back-button>
    </ion-nav-buttons>



    <ion-content class="padding">
        
        <div style="text-align: center;margin-top: 30px">
            <img style="border-radius: 30%;max-width: 80px;max-height: 80px;" ng-src="img/app.jpg">
            <h5 style="color: #666">肾事管家</h5>
            <h5 style="color: #666">1.0.0版</h5>
        </div>
        
        
       
<!-- 
        <div class="item-text-wrap" style="text-align: center;margin-top: 30px">
            <p>肾事管家是一款面向肾病患者的APP，</p>
            <p>在这里，你可以，</p>
            <p>保存自己的检查化验单，</p>
            <p>与医生畅通得交流沟通，</p>
            <p>从而,</p>
            <p>直观的了解自己一段时期内的身体健康的信息，</p>
            <p>进一步管理疾病的发展。</p>
        </div> -->

        <div class="item-text-wrap" style="margin-top: 30px;text-indent:2em;line-height: 25px;padding: 15px">
            <p>肾事管家是一款面向肾病患者的APP，可以查看一些健康信息，可以保存自己的检查化验单，还可以与医生畅通得交流沟通，从而直观的了解自己一段时期内的身体健康的信息，进一步管理疾病的发展。</p>
        </div>
        
       
       
    </ion-content>
        <div class="bar bar-footer no-line" style="position: absolute;bottom:60px;">
            <p class="col" style="text-align: center;color:#6ac4f8;font-size: 10px">Copyright @2017-2022</p>
        </div>
           
        <div class="bar bar-footer no-line" style="position: absolute;bottom:30px;" >
            <p class="col"  style="text-align: center;color: #6ac4f8;">杭州海泓医院管理有限公司</p>
        </div>
      
    
</ion-view>
