<!-- <ion-view title="关于">

  <ion-nav-bar class="bar-dark nav-title-slide-ios7" style="" >
      <ion-nav-buttons class="bar-dark nav-title-slide-ios7" side="left" >
         <button class="button button-clear"  ng-click="Goback()"><i class="icon ion-chevron-left"></i>返回</button>
      </ion-nav-buttons>
    </ion-nav-bar>


  
  <ion-content padding="true" style="">

        <p>版本信息<span style="margin-left: 50px">v1.0.0</span></p>
        <p>肾事管家是一款面向肾病患者的APP，可以查看一些健康信息，可以保存自己的检查化验单，还可以与医生畅通得交流沟通，从而直观的了解自己一段时期内的身体健康的信息，进一步管理疾病的发展</p>
  </ion-content>
          
</ion-view> -->


<ion-view title="关于">

  <ion-nav-bar class="bar-positive green-bg" align-title="center">
    <ion-nav-buttons side="left">
         <button class="button button-clear"  ng-click="Goback()"><i class=" icon ion-ios-arrow-back font-white"></i></button>
      
    </ion-nav-buttons>
  </ion-nav-bar>



  <ion-content class="padding">

        <p>版本信息<span style="margin-left: 50px">v1.0.0</span></p>
        <p>肾事管家是一款面向肾病患者的APP，可以查看一些健康信息，可以保存自己的检查化验单，还可以与医生畅通得交流沟通，从而直观的了解自己一段时期内的身体健康的信息，进一步管理疾病的发展</p>








  </ion-content>

</ion-view>
