      <ion-view title="修改密码">
        <ion-nav-bar class="bar-positive green-bg">
          <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios-arrow-back font-white " ng-click="Goback()"></button>
          </ion-nav-buttons>
        </ion-nav-bar>

        <ion-content padding="true">
         <div ng-hide="!ishide" class="list" >

            <label  class="item item-input green-edite-css">
              <input type="password" placeholder="请验证旧密码" ng-model="change.oldPassword">

            </label>
            <p style="color:#c55e19;text-align: center;">{{logStatus1}}</p>
            <button  class="button button-block green-bg font-white " ng-click="passwordCheck(change)">
              验证
            </button>
            

        </div>

          <div ng-hide="ishide" class="list">
            <form name="passwordForm">
                <label class="item item-input green-edite-css">

                    <input type="password" placeholder="新密码" name="newPass" ng-minlength=6 required style="margin-right: 10%;"  ng-model="change.newPassword">
                    <span class="tick" ng-if="passwordForm.newPass.$dirty">
                        <i style="color:#01E748;" ng-if="passwordForm.newPass.$valid" class="icon ion-checkmark-circled placeholder-icon"></i>
                        <i style="color:#FB6753;" ng-if="passwordForm.newPass.$invalid" class="icon ion-alert-circled placeholder-icon"></i>
                    </span>
                </label>
                <label class="item item-input green-edite-css mg-10">

                    <input type="password" placeholder="确认新密码" name="confirmPass" ng-minlength=6 required style="margin-right: 10%;" ng-model="change.confirmPassword">
                    <span class="tick" ng-if="passwordForm.confirmPass.$dirty">
                        <i style="color:#01E748;" ng-if="change.newPassword==change.confirmPassword" class="icon ion-checkmark-circled placeholder-icon"></i>
                        <i style="color:#FB6753;" ng-if="change.newPassword!=change.confirmPassword" class="icon ion-alert-circled placeholder-icon"></i>
                    </span>
                </label> 
            </form>
            
            <p style="color:#c55e19;text-align: center;">{{logStatus2}}</p>
            <button class="button button-block green-bg font-white " ng-click ="gotoChange(change)">修改</button>
           
          </div>

        </ion-content>
      </ion-view>
