<ion-view cache-view="false" title="医生详情" >

    <ion-nav-bar class="bar-positive green-bg" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear"  ng-click="Goback()"><i class="icon ion-ios-arrow-back font-white"></i></button>

            <!-- <button class="button button-icon icon ion-ios-arrow-left fc-ff" ng-click="Goback()"></button> -->
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>

    

     <div class="card">
         <div class="item item-thumbnail-left"> 
            <img style="border-radius: 100%;top: 40%;margin-top: -40px" ng-src="{{doctor.photoUrl  || 'img/DefaultAvatar.jpg'}}">
            <span>{{doctor.name}}</span>
            <span style="float: right">{{doctor.department}}</span>
            <p>{{doctor.workUnit}}</p>
            <p>职称:{{doctor.title}}</p>
            <p>性别：{{{1:"男",2:"女",undefined:"未填写"}[doctor.gender]}}</p>
            <p style="font-size: 12px">收费：<span>咨询{{doctor.charge1}}元</span><span style="margin-left: 20px">问诊{{doctor.charge2}}元</span></p>
            <div class="row row-below-avatar" style="font-size: 14px;color:#2B67F5;">
                <span class="col font-c"><i class="icon ion-star"></i>{{doctor.score.toFixed(2)||"无"}}</span>
                <span class="col font-c">咨询量：{{doctor.count1}}</span>
                <span class="col font-c">问诊量：{{doctor.count2}}</span>
            </div>
            
        </div>

        <div class="row">
            <button style="color:#181544;font-size:14px;font-weight:bold;text-align: center;" ng-disabled="DisabledConsult" ng-click="question(doctor.userId,doctor.name,doctor)" class="col no-line"><i class="icon iconfont icon-zixun2"></i>咨询</button>
            <button  style="color:#181544;font-size:14px;font-weight:bold;text-align: center;" ng-disabled="DisabledConsult" ng-click="consult(doctor.userId,doctor.name,doctor.charge1,doctor)" class="col no-line"><i class="icon iconfont icon-baojifuben"></i>问诊</button>
        </div>
       
        
        
        

     

      <ion-item>
        <span style="font-size: 18px"><i class="icon ion-ios-lightbulb-outline" style="margin-right: 10px"></i>擅长方向</span>
         <p style="font-size: 14px;padding-left: 20px" class="item-text-wrap">{{doctor.major}}</p>
      </ion-item>

      <ion-item>
        <span style="font-size: 18px"><i class="icon ion-clipboard" style="margin-right: 10px"></i>个人介绍</span>
         <p style="font-size: 14px;padding-left: 20px" class="item-text-wrap">{{doctor.description}}</p>
      </ion-item>

    </div>






  </ion-content>

</ion-view>
