<ion-view cache-view="false" title="我的医生" show-tabs>
    <ion-nav-buttons side="right" >
        <button class="button button-clear" ng-click="GoToMessage() " head-red-point='HasUnreadMessages'><i class="icon iconfont icon-lingdang"></i></button>
    </ion-nav-buttons>
    
  


  <!-- <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 2.5px;background-color: #33cd5f;{{barwidth}}" ></div> -->
  <ion-content padding="true" style="">

    <div class="card"  ng-if="hasDoctor">

        <div class="item item-thumbnail-left" ng-click="getDoctorDetail(doctor.userId)"> 
            <img style="border-radius: 100%;top: 40%;margin-top: -40px" ng-src="{{doctor.photoUrl  || 'img/DefaultAvatar.jpg'}}">
            <span>{{doctor.name}}</span>
            <span style="float: right">{{doctor.department}}</span>
            <p>医院：{{doctor.workUnit}}</p>
            <p style="font-size: 12px">职称:{{doctor.title}}</p>
            <p style="font-size: 12px">收费：<span>咨询{{doctor.charge1}}元</span><span style="margin-left: 20px">问诊{{doctor.charge2}}元</span></p>
            <div class="row row-below-avatar" style="font-size: 14px;color:#2B67F5;">
                <span class="col font-c"><i class="icon ion-star"></i>{{doctor.score.toFixed(2)||"无"}}</span>
                <span class="col font-c">咨询量：{{doctor.count1}}</span>
                <span class="col font-c">问诊量：{{doctor.count2}}</span>
            </div>
        </div>

        <div class="row" style="color:#181544;font-size:14px;font-weight:bold;text-align: center;">
            <span ng-click="question(doctor.userId,doctor.name,doctor)" class="col"><i class="icon iconfont icon-zixun2"></i>咨询</span>
            <span ng-click="consult(doctor.userId,doctor.name,doctor)" class="col"><i class="icon iconfont icon-baojifuben"></i>问诊</span>
        </div>

    </div>

    <div class="card" ng-if="!hasDoctor">
        <div class="item item-text-wrap">
            你还没有绑定医生，请使用微信扫一扫绑定我的医生！
        </div>
      </div>


    

    <div>
         <button style="margin-top:10px" class="button button-block green-bg font-white" ng-click ="allDoctors()">
            更多医生
        </button>

    </div>
      


    
    
    


           
  </ion-content>
          
</ion-view>