<ion-view view-title='任务' show-tabs>
    <ion-nav-buttons side="right" >
            <button class="button button-clear" ng-click="GoToMessage() " head-red-point='HasUnreadMessages'><i class="icon iconfont icon-lingdang"></i></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-refresher pulling-text="下拉刷新" spinner='ripple' refreshing-text="。。。" on-refresh="Refresh()">
        </ion-refresher>


        <div style="text-align: center;" ><img src="img/banner1@2x.png" style="width: 100%" ng-click="goinsurance()"></div>

        <div id="uncompletedUserdetail" ng-if="unCompleted" style="text-align: center;margin:15px;">
            <p>请您完善个人信息，将会为您提供任务列表</p>
            <button ng-click="CompleteUserdetail()" style="background-color: transparent;border: none;color: #6ac4f8">点击完善个人信息<i style="margin-left: 10px" class="icon iconfont ion-ios-redo"></i></button>
        </div>
        
        <ion-list>
            <a class="item green-bg font-white" style="border: 0;font-size: 14px;border-bottom: 1px solid #fff;margin-bottom: 0" ng-click="open==true?open=false:open=true" ng-model="open">
            测量任务
            <i class="icon ion-chevron-up" ng-if="!open"></i> 
            <i class="icon ion-chevron-down" ng-if="open"></i>
            </a>   

            <div class="padding10" style="border: 0.1px solid #ddd" ng-show="!open" ng-repeat="item in Tasks.Measure| orderBy:'Flag'">
                <div class="row">
                    <p class="col col-30" style="text-align: left;font-weight: bold;">{{item.Name}}<span style="font-size:12px;color:#9E9E9E" ng-if="item.Unit != '' ">({{item.Unit}})</span></p>
                    <p class="col col-30" style="text-align:center;color:#6ac4f8;">{{item.instruction}}</p>
                    <span class="col col-30" style="text-align:right;">
                        <i style="font-size:20px" ng-if="!item.Flag" class="icon ion-plus-round" ng-click="showMesPop(item,'fill')"></i>
                        <i style="color:#6ac4f8;font-size:20px" ng-if="item.Flag" class="icon iconfont icon-xiugaibi" ng-click="showMesPop(item,'edit')"></i>
                    </span>
                </div>
                
                <p style="text-indent:2em;">{{item.Freq}}</p>
                <p style="text-indent:2em;">{{item.content}}</p>
                <div class="task-jd" ng-if="item.TimesFlag">
                    <span style="width: {{item.Progress}}">
                    </span>
                </div>  
                

                
                
            </div>
        </ion-list>

        <ion-list>    
            <a class="item green-bg font-white" style="border: 0;margin-top: 0">
            <label>其它任务</label>
            <span class="mg-left10 mg-right10">|</span>
            <label ng-click = "openModal()">医生排班表</label>
            <i class="iconfont icon-icondayu"></i>
            </a>
            <a class="item item-icon-right" ng-if="HemoBtnFlag">
                您还未设定血透排班时间
                <i class='icon'><button ng-click="GotoSet()" class="button button-small green-bg font-white">设置</button></i>
            </a>


            <div class="padding10" style="border: 0.1px solid #ddd" ng-repeat="item in Tasks.Hemo| orderBy:'Flag'">
                <div class="row">
                    <p class="col col-30" style="text-align: left;font-weight: bold;">{{item.Name}}</p>
                    <div class="col col-30 task-jd" style="margin-top: 8px;"><span style="width: {{item.Progress}};"></span></div>
                    <span class="col col-30" style="text-align:right;padding-top: 3px;">
                        <i style="font-size:20px" ng-if="!item.Flag" class="icon ion-plus-round" ng-click="showHemoPop(item, 'fill')"></i>
                        <i style="color:#6ac4f8;font-size:20px" ng-if="item.Flag" class="icon iconfont icon-xiugaibi" ng-click="showHemoPop(item, 'edit')"></i>
                    </span>
                </div>
                
                <p style="text-indent:2em;">{{item.Freq}}</p>
                <p style="text-indent:2em;">任务时间：{{item.startTime}}</p>
                <p style="text-indent:2em;" ng-if="item.endTime != ''">执行时间：{{item.endTime}}</p>
            </div>


            <div class="padding10" style="border: 0.1px solid #ddd" ng-repeat="item in Tasks.Other| orderBy:'Flag'">
                <div class="row">
                    <p class="col col-40" style="text-align: left;font-weight: bold;">{{item.Name}}</p>
                    <p class="col col-30" style="text-align: center;"">{{item.Freq}}</p>
                    <span class="col col-30" style="text-align:right;padding-top: 3px;">
                        <i style="font-size:20px" ng-if="!item.Flag" class="icon ion-plus-round" ng-click="showOtherPop(item, 'fill')"></i>
                        <i style="color:#6ac4f8;font-size:20px" ng-if="item.Flag" class="icon iconfont icon-xiugaibi" ng-click="showOtherPop(item, 'edit')"></i>
                        
                    </span>
                </div>
                
                
                <p ng-if="item.frequencyTimes != 0" style="text-indent:2em;">任务时间：{{item.startTime}}</p>
                <p style="text-indent:2em;" ng-if="item.DoneFlag">上次执行：{{item.endTime}}</p>
                <p style="text-indent:2em;">{{item.content}}</p>
                <button  class="button button-small button-outline button-stable" style="width: 100% " ng-if = "item.Flag" ng-click = "StartNewTask(item)">新任务</button>
            </div>
               
            
     </ion-list>
        <!-- <button ng-click="Test()">测试</button>
        <h>{{TestTime}}</h> -->
    </ion-content>
    <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-content class="padding" style="top:63px">
                <p style="padding-left:4px;">医生排班表</p>
                <div ng-show="hasstop" style="padding-left:4px;">
                    <p >医生停诊中：</p>
                    <p>当前日期：{{dateC|dateFormat:"YYYY-MM-DD"}}</p>

                    <p>停诊开始：{{begin|dateFormat:"YYYY-MM-DD"}}</p>
                    <p>停诊结束：{{end|dateFormat:"YYYY-MM-DD"}}</p>
                </div>

                <div class="row">
                    <div class="col schedual-border" ><span style="opacity:0">上午</span></div>
                    <div class="col schedual-border" >一</div>
                    <div class="col schedual-border" >二</div>
                    <div class="col schedual-border" >三</div>
                    <div class="col schedual-border" >四</div>
                    <div class="col schedual-border" >五</div>
                    <div class="col schedual-border" >六</div>
                    <div class="col schedual-border-right">日</div>
                </div>
                <div class="row" disabled="true">
                    <div class="col schedual-border" >上午</div>
                    <div class="col schedual-border" ng-style="HemoTbl[0]" ></div>
                    <div class="col schedual-border" ng-style="HemoTbl[1]" ></div>
                    <div class="col schedual-border" ng-style="HemoTbl[2]" ></div>
                    <div class="col schedual-border" ng-style="HemoTbl[3]" ></div>
                    <div class="col schedual-border" ng-style="HemoTbl[4]" ></div>
                    <div class="col schedual-border" ng-style="HemoTbl[5]" ></div>
                    <div class="col schedual-border-right" ng-style="HemoTbl[6]" ></div>
                </div>
                <div class="row" disabled="true">
                    <div class="col schedual-border-bottom" >下午</div>
                    <div class="col schedual-border-bottom" ng-style="HemoTbl[7]" ></div>
                    <div class="col schedual-border-bottom" ng-style="HemoTbl[8]" ></div>
                    <div class="col schedual-border-bottom" ng-style="HemoTbl[9]"></div>
                    <div class="col schedual-border-bottom" ng-style="HemoTbl[10]" ></div>
                    <div class="col schedual-border-bottom" ng-style="HemoTbl[11]" ></div>
                    <div class="col schedual-border-bottom" ng-style="HemoTbl[12]" ></div>
                    <div class="col schedual-border-all" ng-style="HemoTbl[13]" ></div>
                </div>
                <div class="row" style="padding:0px;">
                    <div class='col'>
                        <div style="width: 20px;height: 20px;background-color: red;border: solid;border-color: #6ac4f8"></div>
                    </div>
                    <div class='col'>
                        <div>工作</div>
                    </div>
                    <div class='col'>
                        <div style="width: 20px;height: 20px;background-color: white;border: solid;border-color: #6ac4f8"></div>
                    </div>
                    <div class='col'>
                        <div>停诊</div>
                    </div>
                </div>
                <button class="button button-block green-bg font-white" ng-click="modal.hide()">返回</button>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>