<ion-view cache-view="false" title="肾功能计算小工具">
  <ion-nav-bar class="bar-positive green-bg" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-arrow-back font-white" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true">
      <label  class="item item-input item-select-custom">
          <i class="icon ion-asterisk" style="color:red;font-size:8px"></i><span class="input-label">性别</span>
          <select  ng-model="Kidneyfunction.Gender" ng-options="Gender.Type as Gender.Name for Gender in Genders"></select>
      </label>
      <label class="item item-input">
          <i class="icon ion-asterisk" style="color:red;font-size:8px"></i><span class="input-label">年龄</span>

          <input  ng-model="Kidneyfunction.Age"  type="number" placeholder="请输入您的年龄" >
      </label>
      <label  class="item item-input item-select-custom">
          <i class="icon ion-asterisk" style="color:red;font-size:8px"></i><span class="input-label">肌酐单位</span>
          <select  ng-model="Kidneyfunction.CreatinineUnit" ng-options="CreatinineUnit.Type as CreatinineUnit.Type for CreatinineUnit in CreatinineUnits"></select>
      </label>
      <label class="item item-input">
          <i class="icon ion-asterisk" style="color:red;font-size:8px"></i><span class="input-label">肌酐</span>

          <input  ng-model="Kidneyfunction.Creatinine"  type="number" placeholder="请输入您的肌酐" >
      </label>
    
    <div>
      <button style="margin:20px auto;width: 80%" class="button button-block green-bg font-white" ng-click="getkidneyfunction()">确认</button>
      <button style="margin:20px auto;width: 80%" class="button button-block green-bg font-white" ng-click="resetkidneyfunction()">重置</button>
    </div>
  </ion-content>
</ion-view>